<h1>Example 7</h1>
<input type="button" value="Przycisk 1" (click)="onButtonClick()">
<form (ngSubmit)="onFormSubmit()">
  <input type="text" (change)="onTextInputChange()">
  <input type="submit">
</form>
