<hr>
<h1>Example 6</h1>
Dwukrotne zagnieżdżenie komponentu z selektorem app-example1:
<app-example1></app-example1>
<app-example1></app-example1>
Jednokrotne zagnieżdżenie komponentu z selektorem app-example2:
<app-example2></app-example2>
<hr>



